<section>
  <h3>Exkurs: Atomic Design</h3>
</section>
<section>
  <h4>Exkurs: Atomic Design</h4>
  <p>große Frontends mit vielen Components werden unübersichtlich</p>
  <img src="assets/lego-unsortiert.jpg" style="height: 400px;">
</section>
<section>
  <h4>Exkurs: Atomic Design</h4>
  <p>Strukturierung und Kategorisierung von Components</p>
  <p>Ziel ist ein ordentlicher Baukasten an Components</p>
  <img src="assets/component-periodic-table.png" style="height: 400px;">
  <p class="small-text">https://bradfrost.com/blog/post/atomic-web-design/</p>
</section>
<section>
  <h4>Exkurs: Atomic Design</h4>
  <ul>
    <li>nach Atomic Design werden Components geordnet nach:
      <ul>
        <li>Atoms - Buttons, Text Fields, etc.</li>
        <li>Molecules - Search Bar, Form Groups, etc.</li>
        <li>Organisms - Header, Footer, Overlays, etc.</li>
        <li>Templates - Schablone</li>
        <li>Pages - konkrete Seite</li>
      </ul>
    </li>
  </ul>
  <aside class="notes">
    <ul>
      <li>https://bradfrost.com/blog/post/atomic-web-design/</li>
      <li>Atoms - die Bausteine unserer Anwendung - Buttons, etc.</li>
      <li>Molecules - kleine zusammenschlüsse von Atoms - Suchfelder, Form Groups</li>
      <li>Organisms - fachliche Components. Zusammenschlüsse von Molecules mit denen der User interagieren kann</li>
      <li>Templates - Schablone die den Aufbau der Seite zeigt</li>
      <li>Pages - konkrete Seiten</li>
    </ul>
  </aside>
</section>
