<section>
    <h3>Einfach mal loslegen?</h3>
</section>
<section>
    <h4>Einfach mal loslegen?</h4>
    <ul>
        <li>Erster Gedanke: Einfach mal loslegen.</li>
        <li>Wie soll die UI aussehen?</li>
        <li>Welche HTML Elemente brauche ich?</li>
        <li>Was brauche ich fürs Styling?</li>
        <li>Welche Logik soll das Frontend unterstützen?</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Vielleicht denken sie hier noch an die Trennung von HTML, CSS und JavaScript.</li>
            <li>Damit wird das ganze dann ein wenig schöner.</li>
            <li>Trotzdem wird es wahrscheinlich damit Enden, dass man einen Monolith erhält.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Monolith</h4>
    <img src="assets/monolith.jpg" style="height: 400px;">
    <aside class="notes">
        <ul>
            <li>Sieht für sie jetzt evtl. schön aus.</li>
            <li>Aber versuche sie mal diese Anwendung wiederzuverwenden oder sogar für neue Features zu erweitern.</li>
            <li>Das ist meistens das Problem bei monolithischen Anwendungen.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Monolith</h4>
    <ul>
        <li>Monolithen sind typischerweise:
            <ul>
                <li>schwer wiederverwendbar</li>
                <li>schwer erweiterbar</li>
            </ul>
        </li>
        <li>Monolithen haben in sich meist:
            <ul>
                <li>keine klaren Schnittstellen</li>
                <li>viele Abhängigkeiten</li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <h4>Monolith</h4>
    <ul>
        <li>grundlegend sind Monolithen nicht schlecht um erstmal loszulegen</li>
        <li>ein Monolith kann durchaus seine Berechtigung haben</li>
        <li>wenn die Codebasis wächst werden diese leider sehr unübersichtlich</li>
        <li>mit mehreren Teams an einem Monolith zu arbeiten sorgt häufig für Konflikte</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Monolithen sind nicht grundsätzlich schlecht</li>
            <lI>Ein gut designter Monolith kann zu einem Modulith werden und sehr gut funktionieren</lI>
        </ul>
    </aside>
</section>
