<section>
  <h3>Motivation</h3>
</section>
<section>
  <h4>Daten vom Backend</h4>
  <pre>
        <code class="language-html" data-line-numbers>&lt;html&gt;
  &lt;head&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt;
    &lt;script&gt;{javascript}&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      // some data
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
      </pre>
</section>
<section>
  <h4>Stylesheets</h4>
  <pre>
        <code class="language-html" data-line-numbers="3">&lt;html&gt;
  &lt;head&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt;
    &lt;script&gt;{javascript}&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      // some data
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
      </pre>
</section>
<section>
  <h4>Stylesheets</h4>
  <ul>
    <li>enthalten häufig ähnliche Informationen</li>
    <li>könnten einmalig ausgeliefert werden</li>
  </ul>
  <pre>
          <code class="language-html" data-line-numbers>&lt;style&gt;
 label {
   font-size: 12pt;
   color: blue;
 }

 input {
   font-size: 10pt;
   color: green;
   height: 10px;
   width: 20px;
 }
&lt;/style&gt;
          </code>
        </pre>
</section>
<section>
  <h4>JavaScript</h4>
  <pre>
        <code class="language-html" data-line-numbers="4">&lt;html&gt;
  &lt;head&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt;
    &lt;script&gt;{javascript}&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      // some data
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
      </pre>
</section>
<section>
  <h4>JavaScript</h4>
  <ul>
    <li>ebenfalls repetitiv</li>
    <li>auf mehreren HTML Seiten braucht es gleiche Funktionalität</li>
  </ul>
  <pre>
          <code class="language-html" data-line-numbers>&lt;script&gt;
  function openDropdown() {
    // do it
  }

  function doSomeFancyAnimation() {
    // do it
  }
&lt;/script&gt;
          </code>
        </pre>
</section>
<section>
  <h4>HTML Struktur</h4>
  <pre>
        <code class="language-html" data-line-numbers>&lt;html&gt;
  // head
  &lt;body&gt;
    &lt;header&gt;&lt;/header&gt;
    &lt;nav&gt;&lt;/nav&gt;
    &lt;div&gt;
      // some data
    &lt;/div&gt;
    &lt;footer&gt;&lt;/footer&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
        </pre>
</section>
<section>
  <h4>HTML Struktur</h4>
  <ul>
    <li>dynamischer Anteil der Seite beschränkt sich auf Informationen</li>
  </ul>
  <pre>
        <code class="language-html" data-line-numbers="7">&lt;html&gt;
  // head
  &lt;body&gt;
    &lt;header&gt;&lt;/header&gt;
    &lt;nav&gt;&lt;/nav&gt;
    &lt;div&gt;
      // some data
    &lt;/div&gt;
    &lt;footer&gt;&lt;/footer&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
        </pre>
</section>
<section>
  <h4>Wartezeiten nach den Requests</h4>
  <pre>
      <code class="language-plantuml">
          @startuml
          activate Client
          Client -> Server: Request (GET)
          deactivate Client
          activate Server
          Server -> Server: führt Geschäftslogik aus
          Server -> Client: Response (HTML Page)
          deactivate Server
          activate Client
          Client -> Server: Request (Post)
          deactivate Client
          activate Server
          Server -> Server: führt Geschäftslogik aus
          Server -> Client: Response (HTML Page)
          deactivate Server
          activate Client
          @enduml
      </code>
  </pre>
  <aside class="notes">
    <ul>
      <li>User können in den Wartezeiten, bis die nächste Seite geladen wurde, nichts machen.</li>
      <li>Es wird außerdem kein Loadingspinner etc. angezeigt</li>
      <li>Bei SPA's wäre dies möglich</li>
    </ul>
  </aside>
</section>
